name: Run Cypress Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install dependencies
        working-directory: Automation_testing/Login_module
        run: npm install

      - name: Run Cypress tests from subdirectory
        working-directory: Automation_testing/Login_module
        run: npx cypress run
